@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Plus+Jakarta+Sans&display=swap');

p{
  margin: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  font-style: italic;
  margin-top: 3em;
}
#input-box{
  display: flex;
  flex-direction: column;
  position: relative;
}
input, textarea{
  margin: 5px 10px;
  background-color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  padding: 1em;
  border-radius: 7px;
  border: 1px solid #828282;
  width: fit-content;
}
label{
  font-size: 12px;
  margin: 0 10px;
}
.helper{
  margin: 0 10px;
  font-size: 10px;
  color: #646363;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
}


/* ICONS */
span.start{
  position: absolute;
  margin-left: 1em;
  top: 44%;
}
span.start + input{
  padding-left: 3em;
  padding-right: 0;
}
span.end{
  position: absolute;
  margin-left: 8em;
  top: 44%;
}
.end input{
  padding-right: 2em;
}



/* HOVER */
input:hover, input.error:hover{
  border: 1px solid #333;
}
input:hover + label, input.error:hover + label{
  color: #333;
}


/* FOCUS */
input:focus, input:focus-visible, textarea:focus, textarea:focus-visible{
  outline: 1px solid #2962ff;
  border: 1px solid #2962ff;
}
#input-box:focus-within label {
  color: #2962ff;
}

.error, .error p, #input-box.error:focus-within label {
  color: red;
}
.error input, .error textarea{
  border: 1px solid red;
}
.error input:focus, .error input:focus-visible, .error textarea:focus, .error textarea:focus-visible{
  outline: 1px solid red;
  border: 1px solid red;
}


/* SIZES */
input.sm{
  padding: 0.5em 1em;
}
input.md{
  padding: 0.75em 1em;
}
input.fullWidth{
  width: auto;
}


input:disabled {
  background-color: #f2f2f2;
  pointer-events: none;
  border: 1px solid #e0e0e0;
}

footer{
  text-align: center;
}